<div class="container">
    <h2>Product Management</h2>
    <button routerLink="/add-product">Add New Product</button>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button>Edit</button>
            <button (click)="deleteProduct(product.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  